@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');


:root {
    --primary-color: #f68b1e;
    /* Highlight Orange */
    --secondary-color: #FFD54F;
    /* Light Amber */
    --base-bg-color: #FFF3E0;
    /* Warm Peach */
    --admin-bg-color: #FFE0B2;
    /* Soft Orange */
    --text-primary: #4E342E;
    /* Deep Brown */
    --text-secondary: #795548;
    /* Softer Brown */
    --error-color: #E64A19;
    /* Reddish Orange */
    --accent-hover: #FFAB40;
    /* Brighter Orange */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: var(--text-primary);
}

.highlight {
    color: var(--secondary-color);
}

/* Headings (Poppins) */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: var(--text-primary);
}

h1 {
    font-size: 2.5rem;
    /* 40px */
    line-height: 1.2;
    /* 48px */
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    /* 32px */
    line-height: 1.3;
    /* 41.6px */
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    /* 28px */
    line-height: 1.4;
    /* 39.2px */
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
    /* 24px */
    line-height: 1.4;
    /* 33.6px */
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.5;
    /* 30px */
    font-weight: 500;
}

h6 {
    font-size: 1rem;
    /* 16px */
    line-height: 1.6;
    /* 25.6px */
    font-weight: 400;
}

/* Paragraphs (Roboto) */
p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--text-secondary);
}

ul li {
    list-style: none;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* NAVBAR */
.navbar-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #F8F9FA;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.search-product {
    width: 100%;
    background-color: #F8F9FA;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 0.25rem;

}

.search-form {
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.cart-count {
    color: #fff;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 50%;
    font-size: 0.8rem;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    color: var(--primary-color);
}

.account {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
}

.account-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

li a {
    font-size: 0.9rem;
}

form input {
    width: 100%;
    padding: 0 0.5rem;
    outline: none;
    border: none;
    color: inherit;
    background-color: transparent;
    color: var(--text-primary);
}



/* HERO */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding-top: 1rem;
    /* height: 100vh; */
}

.hero-imgs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.25rem;
}

.hero-imgs__imgs {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.hero-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-to-cart:hover {
    background-color: var(--admin-bg-color);
    color: var(--text-primary);
}

.add-to-cart {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 8px 15px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    justify-content: center;
    align-items: center;
    width: fit-content;
    color: var(--primary-color);
}

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid #F8F9FA;
    padding: 1rem;
}

/* PRODICTS */
.products-wrapper {
    width: 100%;
    /* margin-top: 4rem;
    margin-bottom: 2rem; */
}


.btn {
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.btn-secondary {
    background-color: var(--secondary-color);
}

.btn-danger {
    background-color: var(--error-color);
}

.btn:hover {
    background-color: var(--accent-hover);
}

/* Buttons */
button {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    /* 16px */
    font-weight: 600;
    /* Semi-Bold */
    line-height: 1.5;
    /* 24px */
    padding: 0.5rem 1rem;
    /* 8px 16px */
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: var(--primary-color);
    /* Primary */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--accent-hover);
    /* Darker Blue */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    background-color: var(--secondary-color);
    /* Darkest Blue */
}

button:disabled {
    background-color: #6C757D;
    /* Muted Gray */
    cursor: not-allowed;
}

/* Links */
a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--accent-hover);
}



/* Additional Utility Classes */
.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.p-1 {
    padding: 0.25rem;
}

.p-y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.p-x-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* CART */
.wrapper {
    width: 100%;
}

.cart-summary-container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
}

.cart-summary {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    background-color: var(--base-bg-color);
    padding: 0.25rem 1rem;
}

.cart-item__details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.cart-item__price {
    display: grid;
    place-content: center;
}

.cart-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 2px solid #f8f9fa;
    padding: 1rem;
    /* padding-right: 1rem; */
}

.return-home {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: var(--base-bg-color);
    cursor: pointer;
}

.logo-cart {
    width: 100%;
    display: grid;
    place-content: center;
}